{% trans_default_domain 'FOSUserBundle' %}

<div class="alert alert-info text-center">Welcome to Firecloud! Create a user account below to continue.</div>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
	{{ form_widget(form) }}
	<div class="text-center">
		<button type="submit" class="btn btn-success">Create Account</button>
		<br /><br /> - or - <br /><br />
		<a class="btn btn-primary" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"><i class="fa fa-facebook"></i> &nbsp;&nbsp;&nbsp; Login With Facebook</a>
	</div>
{{ form_end(form) }}
